<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="">First Name:</label>
        <input type="text" placeholder="Enter your first name">
        <br><br>
        <label for="">Last name</label>
        <input type="text" placeholder="Enter your last name">
        <br><br>
        <label for="">Roll number</label>
        <input type="number" placeholder="Enter your roll number">
        <br><br>
        <label for="">E-mail Id</label>
        <input type="Email Id" placeholder="Enter your Email id">
        <br><br>
        <label for="">favourite colour</label>
        <input type="color">
        <br><br>
        <label for="">button</label>
        <input type="button", placeholder="button">
</body>
</html>