{% extends "base.html" %}{% load static %}{% block content %}




		<div class="modal fade modal-add-contact show" id="exampleModal" tabindex="-1" role="dialog" aria-modal="true"
			style="display: block;">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<form method="POST" action="{% url 'country_update' country_master.id %}">
						{% csrf_token %}
						
						<div class="modal-header px-4">
							<h5 class="modal-title">Add New Country</h5>
						</div>
						<div class="modal-body px-4">
							<div class="row mb-2">
								<div class="col-lg-6">
									<div class="col-sm-2">
										<label for="exampleInputcityname1" class="form-label"
											style="color: black;">POSITION</label>
									</div>
									<div class="form-group">
										<input type="number" class="form-control" value="{{country_master.position}}" id="position" name="position"
											placeholder="Add Position..." required="True">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="col-sm-8">
										<label for="exampleInputcityname1" class="form-label"
											style="color: black;">COUNTRY NAME</label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="country_name" value="{{country_master.country_name}}" name="country_name"
											placeholder="Add country name..." required="True">
									</div>
								</div>
								<div class="col-sm-2">
									<label class="form-label" style="color: black;">SELECT OPTION</label>
								</div>
								<div class="dropdown">
									<select name="is_active" id="status">
										{%if country_master.is_active%}
										<option value="1" selected>Active</option>
										<option value="0">Deactive</option>
										{%else%}
										<option value="1">Active</option>
										<option value="0" selected>Deactive</option>
										{%endif%}
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer px-4">
							<button type="button" class="btn btn-secondary btn-pill"
								data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary btn-pill">Save </button>
						</div>
					</form>
				</div>
			</div>
		</div>


{% endblock %}
<!-- Footer -->