<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'form' %}" method="POST" >
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter name"> <br><br>
        <input type="number" name="roll" placeholder="Enter roll"> <br><br>
        <input type="number" name="aadhar_no" placeholder="Enter aadhar_no"> <br><br>        
        <label for="">Status</label><br>
        <input type="radio" name="status" value="1">Active
        <input type="radio" name="status" value="0">Deactive <br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>